button {
    cursor: pointer;
    border: none;
    padding: 0.5em;
}

.primary {
    background-color: rgb(255, 235, 168);
    color: #383838;
}

.primary:hover{
    background-color: rgb(255, 207, 49);
    color: #fffbdd;
}

.secondary {
    background-color: rgb(43, 171, 245);
    color: #fffbdd;
}

.secondary:hover{
    background-color: rgb(153, 209, 241);
    color: #383838;
}