main {
    background-color: rgb(202, 243, 255);
    height: 55vh;
    width: calc(100% - (20vw + 10px));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
}

article {
    padding: 1vh 3vw;
}

p {
    font-size: .8em;
    margin: 5px 0;
}