body {
  box-sizing: border-box;
  background-color: rgb(219, 219, 219);
  font-family: "Helvetica Neue", Helvetica;
}

.cars {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  padding: 3rem 15rem;
  margin: 10px 0 10px 10px;
}

th,
td {
  border: 1px solid rgb(51, 51, 51);
}

input {
  border: none;
  padding: 5px;
  margin: 3px 0 15px 0;
}

button {
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  background-color: rgb(197, 197, 197);
}

button:hover {
  background-color: rgb(179, 178, 178);
}

table {
  border-collapse: collapse;
  text-align: center;
}

img {
  max-width: 120px;
  max-height: 120px;
}
